/**
 * Variables
 */
$white: #fff;
$black: #000;

$dark: #444;
$dark2: #202020;
$gray: #666;
$light-gray: #e0e0e0;
$very-light-gray: #f5f5f5;

$theme-color: #b22f89;
$theme-color2: #89d426;
$text-color: #333;

$border-color: #a1a1a1;
$input-color: #444;

$error-color: #d42c2c;

$font-primary: "Roboto Flex", sans-serif;

$bold: 700;
$semi-bold: 600;
$medium: 500;
$regular: 400;
$light: 300;

$theme-border-radius: 20px;
