.footer {
  background: $very-light-gray;
  width: 100%;
  margin: 100px 0 0;

  &--homepage {
    margin: 0;
  }

  &__wrapper {
    padding: 40px 0 0px;
  }

  &__logo {
    display: inline-block;

    img,
    svg {
      max-width: 150px;
      height: auto;
      width: 150px;
    }
  }

  &__phone,
  &__email {
    display: block;
    font-weight: 400;
    font-size: 15px;
  }

  &__phone {
    margin: 0 0 5px;
  }

  &__address {
    span {
      display: block;
      font-size: 15px;
      color: $text-color;
      font-weight: 500;
      margin: 15px 0 0;
    }

    p {
      margin: 0;
      font-size: 15px;
    }
  }

  &__subtitle {
    @media (max-width: 767px) {
      margin: 25px auto 0;
    }
  }

  &__column {
    width: 100%;

    h1,
    h2,
    h3,
    h4 {
      @extend .h4;
      margin: 3px 0 0;
    }

    ul {
      width: 100%;
      margin: 20px 0 0;

      li {
        margin: 8px 0 0;
        list-style: none;
        font-size: 15px;

        a {
          color: $text-color;
          font-size: 15px;
          max-width: 200px;
        }
      }
    }
  }
}
