.contact {
  width: 100%;
  position: relative;

  &--background {
    background: $very-light-gray;
  }

  &__image {
    width: 100%;
    max-width: 335px;
    height: 320px;
    flex-shrink: 0;
    position: relative;
    z-index: 3;
    margin: 3px 0 0;

    @media (max-width: 767px) {
      margin: 20px 0 0 0;
    }

    img {
      position: relative;
      z-index: 2;
      border-radius: 18px;
      filter: brightness(0.98);
      object-position: top;
    }
  }

  &__subtitle {
    margin: 20px 0 0;
    @extend .paragraph;
  }

  &__details {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    max-width: 360px;

    @media (max-width: 767px) {
      align-items: center;
      justify-content: center;
      max-width: 100%;
    }

    > p {
      margin: 13px 0 0;

      span {
        font-weight: 600;
        position: relative;
        display: inline-block;

        &::after {
          width: 100%;
          height: 3px;
          content: '';
          display: block;
          background: $theme-color;
          position: absolute;
          bottom: -3px;
          left: 0;
        }
      }
    }
  }

  &__phone,
  &__email {
    display: flex;
    @extend .paragraph;
    margin: 0;
    gap: 8px;
    color: $text-color;

    &::before {
      content: '';
      display: block;
      filter: brightness(0.2);
      position: relative;
      bottom: -2px;
    }

    &:hover {
      color: $text-color;
    }
  }

  &__phone {
    margin: 20px 0 0;

    &::before {
      width: 20px;
      height: 20px;
      background: url('./images/phone-icon.svg') center/contain no-repeat;
    }
  }

  &__email {
    margin: 5px 0 0;

    &::before {
      width: 20px;
      height: 20px;
      background: url('./images/email-icon.svg') center/contain no-repeat;
    }
  }

  &__social-media {
    margin: 10px 0 0;
  }

  &__address {
    margin: 10px 0 0;

    p {
      margin: 0;

      @media (max-width: 767px) {
        text-align: center;
      }
    }
  }

  &__form {
    margin: 3px 0 0;
    padding: 50px;
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.1);
    background-color: $white;
    border-radius: 20px;

    @media (max-width: 767px) {
      margin: 30px 0 0;
    }

    form {
      .gform_body {
        .gform_fields {
          grid-row-gap: 25px;
          grid-column-gap: 25px;

          > div {
            width: 100%;

            input {
              line-height: 1 !important;
            }

            textarea {
              height: 181px !important;
            }

            .ginput_recaptcha.gform-initialized {
              margin: 0 0 10px;
            }
          }

          .gfield {
            &.gfield--type-consent {
              margin: -20px 0 0;
            }
          }

          p,
          label {
            margin: 0;
            font-size: 15px;
            color: $input-color;

            a {
              color: $theme-color;
              text-decoration: underline;
              font-weight: 400;
            }
          }

          // if you want to have no labels
          .gfield_label {
            display: none;
          }

          fieldset {
            margin: 0;
            border: none !important;
          }
        }
      }

      .gform_footer {
        margin: 15px 0 0 !important;
        text-align: right;
        display: block !important;

        @media (max-width: 767px) {
          text-align: center;
          margin: 25px 0 0 !important;
        }

        input {
          border-radius: $theme-border-radius !important;
        }
      }
    }

    .gform_confirmation_message {
      @extend .paragraph;
    }
  }
}
