.theme-form {
  width: 100%;
  position: relative;

  &--background {
    background: $very-light-gray;
  }

  &__form {
    margin: 3px 0 0;
    padding: 50px;
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.1);
    background-color: $white;
    border-radius: 20px;

    @media (max-width: 767px) {
      margin: 30px 0 0;
    }

    form {
      .gform_body {
        .gform_fields {
          grid-row-gap: 25px;
          grid-column-gap: 25px;

          > div {
            width: 100%;

            input {
              line-height: 1 !important;
            }

            textarea {
              height: 120px !important;
            }

            .ginput_recaptcha.gform-initialized {
              margin: 0 0 10px;
            }
          }

          .gfield {
            &.gfield--type-consent {
              margin: -20px 0 0;
            }
          }

          .ginput_container_fileupload {
            margin: 0 0 20px;
          }

          p,
          label {
            margin: 0;
            font-size: 15px;
            color: $input-color;

            a {
              color: $theme-color;
              text-decoration: underline;
              font-weight: 400;
            }
          }

          // if you want to have no labels
          .gfield_label {
            display: none;
          }

          fieldset {
            margin: 0;
            border: none !important;
          }
        }
      }

      .gform_footer {
        margin: 15px 0 0 !important;
        text-align: right;
        display: block !important;

        @media (max-width: 767px) {
          text-align: center;
          margin: 25px 0 0 !important;
        }

        input {
          border-radius: $theme-border-radius !important;
        }
      }
    }

    .gform_confirmation_message {
      @extend .paragraph;
    }
  }
}
