.gallery {
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
  position: relative;

  @media (max-width: 767px) {
    padding: 0 15px;
  }

  &--background {
    background: $very-light-gray;
  }

  &__slider {
    width: 100%;

    .slick-slide {
      margin: 0 15px;

      @media (max-width: 767px) {
        margin: 0 7.5px;
      }
    }

    .slick-list {
      margin: 0 -15px;

      @media (max-width: 767px) {
        margin: 0 -7.5px;
      }
    }
  }

  &__image {
    width: 100%;
    height: 280px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 20px;

    img {
      border-radius: 20px;
    }

    &--full-width {
      height: 400px;
    }

    @media (max-width: 1599px) {
      height: 330px;
    }

    @media (max-width: 1199px) {
      height: 250px;
    }

    @media (max-width: 767px) {
      height: 200px;
    }
  }
}
